<%# if current_page?(root_path) || current_page?(post_path) %>
  <div id='page_wrapper' class="search"> 
    <!-- :title la truong du lieu trong db can tim -->
    <%= search_form_for @search, remote: true, format: :js do |f| %>
      <%= f.search_field :title_cont, placeholder: "Title" %>
      <%= f.search_field :content_cont, placeholder: "Content" %>
      <%= f.submit%>
    <% end %>
   </div> 
<%#end %>
<div id="ajaxx">
<% if current_page?(root_path) %>
  <%= sort_link(@search, :title, 'Sort Title') %>
  <% @posts.each do |p| %>
    <div class="post_wrapper">
      <h1 class="title"> <%=link_to p.title, p %> </h1>
      <p class="date"> Submitted <%= time_ago_in_words(p.created_at) %> ago </p> 
    </div> 
  <% end %>
  <div class="post_wrapper">
    <%= paginate @posts %>
  </div>
<% else %>
<%= sort_link(@search, :title, 'Sort Title') %>
  <% @posts1.each do |p| %>
    <div class="post_wrapper">
      <h1 class="title"> <%=link_to p.title, p %> </h1>
      <p class="date"> Submitted <%= time_ago_in_words(p.created_at) %> ago </p> 
    </div> 
  <% end %>
  <div class="post_wrapper">
    <%= paginate @posts1 %>
  </div>
<% end %>
</div>
